body {
    
   background-image: url(../img/img3.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

    min-height: 100vh;
    width: 100%;
    display: flex;
    font-weight: 400;
    justify-content: center;
    font-family: 'Fira Sans', sans-serif;
    align-items: center;

  }
  h3{
      padding: 20px;
      align-items: center;
      color:rgb(0, 0, 7);
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: bolder;
      
  }

  .form-wrapper{
      background-color:#faf7f1;
      min-width: 500px;
      min-height: 350px;
      padding:30px;
      box-sizing: border-box;
      border-radius:10px;
      box-shadow:7px 7px 60px #000;
      
      
       /* position: absolute;
       transform: translate(-50%,-50%);
       width: 380px;
       padding: 30px;
       min-height: 350px;
       border-radius: 10px;
       box-shadow:7px 7px 60px #000;
       background: aliceblue!important; */
  }

  .email,
  .password{
margin :20px;
color :#969292;
font-size: 15px;
color: black;
font-weight: 20px;
  }
  .password{
      margin-bottom:40px;
  }
  
  
    .has-error{
        
        border: 1px solid #fd061f!important;
        
    }
    
   .text-muted ,form-text{
       color: red!important;
       font-weight: 500;
       
   } 
  
.btn1{
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
    border-radius:25px;
    color:white;
    padding: 10px 60px;
    background: linear-gradient(90deg, rgb(22, 22, 22) 0%, rgb(74, 76, 77) 50%, rgb(8, 8, 8)100%);
    margin: auto;
    outline: none;
    border:none;
    cursor:pointer;    
    transition: all 0.1s;
}
